* {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    max-height: 100vh;
    box-sizing: border-box;
    background-color: rgb(151, 212, 252)
  }

  section {
    float: left;
}
  
  html {
    height: 100%;
    font-family: "Lunasima", sans-serif;
    font-size: 200px;
  } 
  
  body {
    width: 100%; 
    min-height: 100%;
    color: white;
    text-align: center;
    animation-iteration-count: infinite;
    align-items: center;
  }

  #container {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction:row;
    width: max-content
}

/* line-5 */

#line-5 {
    font-size: 60px;
    line-height: 90px;
    width: 408px;
    margin-bottom: 100px;
    padding: 300px 80px 100px 80px;
}

#feel {
    font-size: 140px;
    animation-name: feelAnimate;
    animation-duration: 5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

/* line-6 */

#line-6 {
    font-size: 60px;
    line-height: 90px;
    width: 408px;
    margin-bottom: 100px;
    padding: 300px 80px 100px 80px;
}

#try {
    font-size: 60px;
    animation-name: tryAnimate;
    animation-duration: 5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

/* line-7 */

#someday {
  font-size: 80px;
  padding: 300px 80px 300px 80px;
    animation-name: somedayAnimate;
    animation-duration: 5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#line-7a {
    font-size: 60px;
    line-height: 90px;
    width: 408px;
    margin-bottom: 100px;
    padding: 200px 80px 100px 80px;
}

/* line-8 */

#line-8 {
    font-style: italic;
    font-size: 60px;
    line-height: 90px;
    width: 408px;
    margin-bottom: 100px;
    padding: 200px 80px 100px 80px;
}

/* #end {
    font-size: 60px;
    /* animation-name: endAnimate;
    animation-duration: 5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;   */
 

/* line-9 */

#line-9 {
    font-size: 60px;
    line-height: 90px;
    width: 408px;
    margin-bottom: 100px;
    padding: 200px 80px 100px 80px;
}

#enjoyment {
    animation-name: enjoymentAnimate;
    animation-duration: 5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;  
}

/* line-10 */

#line-10 {
    font-size: 60px;
    padding: 50px 80px 100px 80px;
    animation-name: whatwasimadeforAnimate;
    animation-duration: 5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#i {
    animation-name: iAnimate;
    animation-duration: 5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
}


/* restart */

#restart a {
    color: yellow; 
    font-size: 250px;
    padding-left: 200px;
    text-decoration: none;
  }
  
#restart a:hover {
    color: pink; 
  }

/* keyframes */

@keyframes feelAnimate {
    0%, 90%, 100% {
        opacity: 0;
        transform: translateX(-2%);
      }
      30% {
        opacity: 1;
        transform: translateX(0);
      }
}

@keyframes tryAnimate {
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}

/* created by Elisabeth Diang */
@keyframes somedayAnimate {
    0%,
  22%,
  36%,
  75% {
    color: white;        
    text-shadow: 0 0 0.6rem rgb(246, 163, 227), 0 0 1.5rem rgb(246, 163, 227),
      -0.2rem 0.1rem 1rem #f19acb, 0.2rem 0.1rem 1rem #f19acb,
      0 -0.5rem 2rem #f067a2, 0 0.5rem 3rem #f067a2;
  }
  28%,
  33% {
    color: #ffffff;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ffffff;
    text-shadow: none;
  }
}
.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
/* created by Elisabeth Diang */

/* created by Makan */
/* @keyframes endAnimate {
    0%   { text-shadow: 0 3px 20px rgb(177, 30, 111), 0 0 20px rgb(255, 238, 0),
        0 0 10px rgb(255, 255, 0),
        0 0 0 rgb(255, 0, 132),
        0 0 5px yellow,
        -2px -5px 5px yellow,
        4px -10px 10px yellow; }
      25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
        0 0 20px rgb(255, 0, 0),
        0 0 5px rgb(255, 0, 132),
        -2px -5px 5px rgb(255, 0, 132),
        3px -10px 10px rgb(255, 0, 132),
        -4px -15px 20px rgb(255, 0, 132); }
      50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
        0 -5px 10px rgb(255, 0, 0),
        -2px -5px 5px rgb(255, 0, 132),
        3px -10px 10px rgb(255, 0, 132),
        -4px -15px 20px rgb(255, 0, 132),
        2px -20px 30px rgba(255,255,0,0.5); }
      75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
        0 -5px 10px rgb(255, 0, 0),
        3px -5px 5px rgb(255, 0, 132),
        -4px -10px 10px rgb(255, 0, 132),
        2px -20px 30px rgba(255,255,0,0.5),
        0px -25px 40px rgba(255,255,0,0)}
      100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
        0 0 10px rgb(255, 0, 0),
        0 0 0 yellow,
        0 0 5px yellow,
        -2px -5px 5px yellow,
        4px -10px 10px yellow; }
    
} */
/* created by Makan */

/* created by Erin E. Sullivan */
@keyframes enjoymentAnimate {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #fb0c93, 
            0 0 0 #fd2cc5, 
            0 0 0 #fa7ecd, 
            0 0 0 #f5b6e4;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #fb0c93, 
            0 0.25em 0 #fd2cc5, 
            0 -0.125em 0 #fa7ecd, 
            0 -0.25em 0 #f5b6e4;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #fb0c93, 
            0 -0.125em 0 #fd2cc5, 
            0 0.0625em 0 #fa7ecd, 
            0 0.125em 0 #f5b6e4;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #fb0c93, 
            0 0.0625em 0 #fd2cc5, 
            0 -0.03125em 0 #fa7ecd, 
            0 -0.0625em 0 #f5b6e4;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #fb0c93, 
            0 0 0 #fd2cc5, 
            0 0 0 #fa7ecd, 
            0 0 0 #f5b6e4;
    }
}
/* created by Erin E. Sullivan */

/* @keyframes whatwasimadeforAnimate {
    100% {
        transform: rotateY(-40deg) rotateX(-43deg);
        -webkit-transform: rotateY(-40deg) rotateX(-43deg);
        -moz-transform: rotateY(-40deg) rotateX(-43deg);
        -ms-transform: rotateY(-40deg) rotateX(-43deg);
        -o-transform: rotateY(-40deg) rotateX(-43deg);
}
} */

@keyframes iAnimate {
    100% {
        transform: rotateY(40deg) rotateX(43deg);
        -webkit-transform: rotateY(40deg) rotateX(43deg);
        -moz-transform: rotateY(40deg) rotateX(43deg);
        -ms-transform: rotateY(40deg) rotateX(43deg);
        -o-transform: rotateY(40deg) rotateX(43deg);
}
}


